@model IEnumerable<MvcApiCubosAWS.Models.Cubo>

@{
    ViewData["Title"] = "Filtrar";
    List<string> marcas = ViewData["MARCAS"] as List<string>;
}

<h1>Filtrar</h1>

<form method="post">
    <select name="marca">
        @foreach(string marc in @marcas)
        {
            <option>@marc</option>

        }
    </select>
    <button class="btn btn-success">Buscar</button>
</form>


@if (Model != null)
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdCubo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCubo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        <img src="@item.Imagen" style="width:150px; height:150px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

